{% extends "layout.html" %}

{% block content %}
    <h3>challenges</h3>

    <ul id="challenges">
    {% for chal in challenges %}
        <li>
            <a name="c{{ c.id }}" />
            <h3 class="title">{{ chal.title }}</h3>
            <p>{{ chal.description | safe }}</p>
            <form>
                <input type="text" name="flag" placeholder="flag{...}" autocomplete="off" />
                <!-- TODO: csrf -->
                <input type="submit" />
            </form>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
