{% extends "layout.html" %}
{% block title %}Updates{% endblock %}

{% block content %}
    <div class="section gradient">
        <div class="container">
            <h1>Discord Chat</h1>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>We're using Discord this year</h3>
                    <p>Discord is a friendly text + voice chat service for gamers, with more features as well as moderation options. We're using Discord as our primary method of communication. Therefore, updates and announcements will most likely be posted into the #announcements channel in Discord first. Unfortunately, Discord doesn't have any kind of built-in IRC bridge, so in order to join the chat, you must use their client.</p>

                    <h3>Rules for Discord Chat</h3>
                    <p>These rules will be posted into the chat room as well.</p>
                    <ul>
                        <li>Use common sense.</li>
                        <li>Everything that <span style="color: #3498db;" title="the blue admin role">Admin</span>s say goes.</li>
                        <li>Don't cheat.</li>
                        <li>Don't violate Discord's Terms of Service.</li>
                        <li>Remember this is still a school environment; many of the other members may be students and teachers you know.</li>
                    </ul>

                    <h3>Have Fun and Make Friends!</h3>
                    <p>We hope you stay even after the competition ends. Many of the people in our chat were veterans who joined the old EasyCTF Slack, which we then migrated to this Discord server.</p>

                    <center>
                        <a href="https://discord.gg/UxCJxf4" target="_blank" class="btn btn-lg btn-success">Join the Chat</a>
                    </center>
                </div>
                <div class="col-md-4">
                    <iframe src="https://discordapp.com/widget?id=293532352682917890&theme=dark" style="min-height: 50vh;" allowtransparency="true" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}