<!DOCTYPE html>
<html>
	<head>
		<title>{{ ctf_name() }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
		<script src="https://code.jquery.com/jquery-2.1.1.min.js" integrity="sha384-fj9YEHKNa/e0CNquG4NcocjoyMATYo1k2Ff5wGB42C/9AwOlJjDoySPtNJalccfI" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js" integrity="sha384-Rm+b3OZOOhRai9jb8sqdkld3+d4KVAYEmZpyc9DlOcSTZZEoL8PsdgUAegQWfSrX" crossorigin="anonymous"></script>
		
		{% block header %}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">{{ ctf_name() }}</a>
				</div>
		
				<div class="collapse navbar-collapse" id="main-navbar">
					<ul class="nav navbar-nav">
						<li><a href="/about">About</a></li>
						<li><a href="/scoreboard">Scoreboard</a></li>
					</ul>
				</div>
			</div>
		</nav>
		{% block content %}
		{% endblock %}
	</body>
</html>