{% extends "layout.html" %}
{% block title %}Sponsors{% endblock %}

{% block content %}
    <div class="section gradient">
        <div class="container">
            <h1>Sponsors</h1>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <p>Shout out to these awesome people for helping make EasyCTF happen!</p>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <table class="logo-table">
                        <tr>
                            <td><img src="/assets/images/digitalocean.png" class="logo" /></td>
                            <td>
                                <h2><a href="https://www.digitalocean.com" target="_blank">DigitalOcean</a></h2>
                                <p>Providing developers and businesses a reliable, easy-to-use cloud computing platform of virtual servers (Droplets), object storage (Spaces), and more.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <p>If you're interested in sponsoring, shoot us an email at <a href="mailto:team@easyctf.com">team@easyctf.com</a>!</p>
        </div>
    </div>
{% endblock %}
