{% extends "layout.html" %}

{% block content %}
    <h3>register</h3>

    <form method="post">
        <table>
            <tr>
                <td><label for="username">username</label></td>
                <td><input type="text" name="username" id="username" placeholder="username" /></td>
            </tr>
            <tr>
                <td><label for="password">password</label></td>
                <td><input type="password" name="password" id="password" placeholder="password" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" /></td>
            </tr>
        </table>
        <p>already registered? <a href="/user/login">login</a></p>
    </form>
{% endblock %}
