{% from "templates.html" import render_field, render_generic_field %}
{% extends "layout.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Reset Password</h2>
                        </div>
                        <div class="panel-body">
                            <form method="POST">
                                {{ reset_form.csrf_token }}
                                <fieldset>
                                    {{ render_field(reset_form.password) }}
                                    {{ render_field(reset_form.confirm_password) }}
                                </fieldset>
                                {{ reset_form.submit(class_="btn btn-primary") }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}