<div class="page-header">
	<h1>Teams</h1>
</div>

<div class="panel-group">
	<div ng-repeat="team in teams">
		<div class="panel panel-default">
			<div class="panel-heading" data-toggle="collapse" data-target="#{{ team['tid'] }}_body">
				<h4 class="panel-title">
					<a href="/team/{{ team['teamname'] }}" target="_blank">{{ team["teamname"] }}</a>
					({{ team["points"] }} points)
				</h4>
			</div>
			<div id="{{ team['tid'] }}_body" class="panel-collapse collapse panel-body">
				<form id="{{ team['tid'] }}_form">
					<p>
						Quick Actions:
						<button onclick="delete_team(this.closest('form').id); return false;" class="btn btn-danger btn-sm">Delete</button>
					</p>
					<div id="{{ team['tid'] }}_msg"/>
						<input type="hidden" value="{{ team['tid'] }}"/>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Member</th>
									<th>Observer</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="member in team['members']">
									<td><a href="/profile/{{ member['username'] }}">{{ member['username'] }}</a></td>
									<td><input id="{{ team['tid'] }}_observer" type="checkbox" ng-checked="team['observer']==true"/></td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
