{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Login</h3>
                <div class="box">
                    <form action="/users/login" method="POST">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="email" name="email" placeholder="Email" autofocus="">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input" type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox">
                                Remember me
                            </label>
                        </div>
                        <button class="button is-block is-info is-fullwidth">Login</button>
                    </form>
                </div>
                <p class="has-text-grey">
                    <a href="../">Login</a> &nbsp;&#x307;&nbsp;
                    <a href="../">Need Help?</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
