<footer class="site-footer site-footer--sticky">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h5 class="footer-heading">EasyCTF IV</h5>
                <p>EasyCTF is a national, online, student-run high school hacking competition that opens the door to computer science and cybersecurity for students all over the world.</p>
                <ul class="list-inline">
                </ul>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-xs-4">
                        <h5 class="footer-heading">Useful Links</h5>
                        <ul>
                            <li><a href="{{ url_for('base.about') }}">About</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <h5 class="footer-heading">Get in touch with us</h5>
                        <p id="links">
                            <a href="mailto:team@easyctf.com" target="_blank" rel="noopener"><i class="fa fa-fw fa-2x fa-envelope"></i></a>
                            <a href="https://facebook.com/easyctf" target="_blank" rel="noopener"><i class="fa fa-fw fa-2x fa-facebook-square"></i></a>
                            <a href="https://twitter.com/easyctf" target="_blank" rel="noopener"><i class="fa fa-fw fa-2x fa-twitter"></i></a>
                            <a href="https://github.com/easyctf" target="_blank" rel="noopener"><i class="fa fa-fw fa-2x fa-github"></i></a>
                            <a href="https://discord.gg/bmCrdEg" target="_blank" rel="noopener"><i class="fa fa-fw fa-2x fa-comment"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-copyright">
            <p>Copyright &copy; 2018 EasyCTF Team. Powered by (a slightly newer version of) <a href="https://github.com/easyctf/openctf" target="_blank">OpenCTF</a>.</p>
        </div>
</footer>
