DATABASE_URL=mysql://username:password@127.0.0.1/easyctf
SECRET_KEY=key
FILESTORE_SAVE_ENDPOINT=http://example.com/save
FILESTORE_STATIC=http://example.com
CACHE_REDIS_HOST=127.0.0.1
ENVIRONMENT=development
ADMIN_EMAIL=admin@example.com
MAILGUN_URL=https://api.mailgun.net/v3/example.com
MAILGUN_API_KEY=key
SENTRY_DSN=