<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/main.css" />
    </head>
    <body>
        {% if logged_in and user.admin %}
        <div class="admin">
            <a href="/admin">admin</a>:
        </div>
        {% endif %}
        <header>
            <h1><a href="/">LibreCTF</a></h1>
            <nav>
                <ul>
                    <li class="left"><a href="/">home</a></li>
                    <li class="left"><a href="/scoreboard">scoreboard</a></li>
                    &nbsp;

                    {% if logged_in %}
                        <li class="right"><a href="/user/logout">logout</a></li>
                        <li class="right"><a href="/user/settings">settings</a></li>
                        <li class="right"><a href="/user/profile/{{ user.id }}">profile</a></li>
                        <li class="right"><a href="/chal/list">challenges</a></li>
                    {% else %}
                        <li class="right"><a href="/user/login">login</a></li>
                        <li class="right"><a href="/user/register">register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div>
            {% for flash in flashes %}
                <div class="flash {{ flash.category }}">{{ flash.message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
        <footer>
            <p>Powered by <a href="https://github.com/easyctf/librectf" target="_blank">LibreCTF</a>.</p>
        </footer>
    </body>
</html>
