<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/main.css" />
    </head>
    <body>
        <header>
            <h1>LibreCTF</h1>
            <nav>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/scoreboard">scoreboard</a></li>

                    {% if logged_in %}
                        <li class="right"><a href="/user/logout">logout</a></li>
                        <li class="right"><a href="/user/settings">settings</a></li>
                        <li class="right"><a href="/user/profile">profile</a></li>
                        <li class="right"><a href="/user/challenges">challenges</a></li>
                    {% else %}
                        <li class="right"><a href="/user/login">login</a></li>
                        <li class="right"><a href="/user/register">register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div>
            {% for flash in flashes %}
                <div class="flash {{ flash.category }}">{{ flash.message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
        <footer>
            Powered by <a href="https://github.com/easyctf/librectf" target="_blank">LibreCTF</a>.
        </footer>
    </body>
</html>
