body {
    max-width: 854px;
    margin: auto;
    font-size: 11pt;
}

body, body * {
    font-family: monospace;
}

.admin {
    margin-top: 5px;
    background-color: #fca;
    padding: 5px;
    color: black;
}

.admin a {
    color: black;
}

header {
    margin-bottom: 14px;
}

header > h1 > a {
    color: black;
    text-decoration: none;
}

header > nav {
    background-color: black;
}

header > nav > ul {
    list-style-type: none;
    padding: 0;
}

header > nav > ul > li {
    display: inline-block;
}

header > nav > ul > li.right {
    float: right;
}

header > nav > ul > li > a {
    display: inline-block;
    color: white;
    padding: 5px;
}

header > nav > ul > li > a:visited {
    color: white;
}

.flash {
    padding: 5px;
    margin-bottom: 10px;
}

.flash.success {
    background-color: #afa;
}

.flash.error {
    background-color: #faa;
}

footer {
    margin-top: 18px;
    padding: 5px;
    text-align: center;
    background-color: #ccc;
    color: #666;
}

footer p {
    margin: 0;
}

footer a {
    color: #999;
}

#challenges {
    list-style-type: none;
}

#challenges li {
    padding-left: .5em;
    text-indent: -.5em;
    padding-bottom: 1em;
}

#challenges li:before {
    content: '\25b6';
    vertical-align: top;
    padding-right: .5em;
}

#challenges li .title {
    margin: 0;
    display: inline-block;
}
