[Unit]
Description=easyctf static file server
After=network.target

[Service]
EnvironmentFile=/var/filestore/env
PIDFile=/run/filestore/pid
User=root
WorkingDirectory=$PROJECT_DIRECTORY
ExecStart=$PROJECT_DIRECTORY/entrypoint.sh
ExecReload=$KILL -s HUP \$MAINPID
ExecStop=$KILL -s TERM \$MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
