[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
innodb_buffer_pool_size=20M
init_connect='SET collation_connection = utf8_unicode_ci'
init_connect='SET NAMES utf8mb4'
character-set-server=utf8mb4
collation-server=utf8_unicode_ci 
skip-character-set-client-handshake
max_allowed_packet=512M
wait_timeout=31536000
